@charset "UTF-8";

/* ------------------------
	Header
------------------------ */
nav {
  height: 80px;
}

.logosize {
  width: 75px;
  height: 75px;
  text-align: center;
}

.headerlist li {
  padding: 0 20px 0 20px;
  font-size: 22px;
}

.header-icon {
  font-size: 26px;
}

/* ------------------------
	Footer
------------------------ */
.footer {
  min-height: 300px;
}
/* //下到global */
img {
  max-width: 100%;
}

.titlesize {
  width: 200px;
  margin: auto;
}

ol,
ul {
  list-style: none;
}

/* nav,
footer {
  background-color: #f0f0ee;
} */
footer {
  background: white;
}

/* a {
  text-decoration: none;
  color: #007bff;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #005caf;
} */

footer {
  min-height: 0%;
  text-align: center;
  color: #79cee2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer_row {
  margin: 26px 0 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media print, screen and (min-width: 768px) {
  .footer_row {
    margin-top: 26px;
  }
}

.footer_icon {
  font-size: 26px;
}

.footer_nav,
.footer_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_nav {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer_nav li {
  font-weight: bold;
  margin: 0 5px;
}

@media print, screen and (max-width: 767px) {
  .footer_nav li {
    width: 50%;
  }
  .footer_nav a {
    padding: 11px 0;
  }
}

@media print, screen and (min-width: 768px) {
  .footer_icon li {
    margin: 0 9px;
    width: 40px;
  }
}

.footer_copyright {
  padding: 18px 0;
  margin: 0;
}

.nav-link {
  color: #79cee2;
}

.text-info:hover {
  color: #005caf;
}

.footer_copyright small [lang='en'] {
  font-family: monospace;
}

/* -----------update nav----------------- */
.T-navWrapper {
  margin: 0 auto;
  /* width: 120rem; */
  height: 5rem;
  /* background: teal; */
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: nowrap; */
  padding-bottom: 0.2rem;
  padding-left: 16rem;
  padding-right: 18rem;
  background: white;
}
.T-logoWrapper {
  width: 10rem;
  height: 5rem;
  /* background: lightblue; */
}
.T-logo {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.T-linkWrapper {
  width: 58rem;
  margin-left: 1rem;
  height: 5rem;
  /* background: lightblue; */
}
.T-linklist {
  display: flex;
}
.T-linkpart {
  width: 10rem;
  height: 5rem;
  text-align: center;
  /* font-size: 1.3rem; */
  font: 16px;
  line-height: 4rem;
  /* border: 1px solid black; */
  margin: 0 auto;
  transition: 0.5s;
  transform: scale(1.4);
}
.T-linkpart:hover {
  transform: scale(1.6);
}
.T-personicon {
  width: 15rem;
  height: 5rem;
  /* background: lightpink; */
  /* border: 1px solid black; */
  position: relative;
}
/* 會員登錄後頭像 */
.T-personavatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background: blueviolet; */
  /* border: 0.2px solid black; */
}
.T-personavatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.T-personiconlist {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  list-style: none;
}
.T-personiconpart {
  width: 3rem;
  height: 3rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  /* background: lightcyan; */
  /* margin: 0.1rem; */
}
.T-Mlogcardwrapper {
  position: absolute;
  z-index: 5;
  bottom: 10rem;
  right: 0;
  transition: 0.75s;
}
.T-Mlogcardwrapper.active {
  bottom: -42rem;
}
.T-detectgoodfriendwrapper {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 8rem;
}
.T-detectgoodfriendwrapper.active {
  bottom: -15rem;
  z-index: 40;
}

/* 通知鈴鐺 */
.T-notification.active {
  animation: shocking infinite 3s;
}

@keyframes shocking {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* 正常狀態下rwd按鈕消失 */
.T-rwdmenuwrapper {
  display: none;
}

@media screen and (max-width: 576px) {
  .T-navWrapper {
    width: 23.4375rem;
    /* flex-wrap: wrap; */
  }
  .T-rwdmenuwrapper {
    display: inline-block;
    width: 10rem;
    height: 5rem;
    /* background-color: lightgreen; */
  }
  .T-rwdmenubtn {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.8rem;
    /* background: lightpink; */
    z-index: 1;
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    position: relative;
  }
  .T-circlebg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: -3rem;
    left: 22rem;
    background: black;
    opacity: 0.5;
    position: absolute;
    transition: 1s;
  }
  .T-circlebg.active {
    transform: scale(50);
    z-index: 2;
  }
  .T-rwdmenucbtn {
    width: 3rem;
    height: 3rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #f9a451;
    /* background: lightgreen; */
    position: absolute;
    transition: 0.5s;
    left: 15rem;
    z-index: 3;
  }
  .T-rwdmenucbtn:hover {
    color: #e4872a;
  }

  .T-rwdlinklist {
    /* width: 10rem;
    height: 20rem; */
    /* background: pink; */
    position: absolute;
    z-index: 3;
    bottom: -18.7rem;
    left: -6rem;
  }
  .T-rwdlinkpart {
    width: 15rem;
    height: 3rem;
    margin: 0.3rem;
    line-height: 3rem;
    background: white;
    border: 0.2px solid #79cee2;
    /* transition: 0.75s; */
  }
  .T-rwdlinkpart:hover {
    /* color: white; */
    background: #79cee2;
  }
  .T-personicon {
    width: 15rem;
  }

  .T-linkWrapper {
    display: none;
  }
}
