$font-family: 'Noto Sans TC', sans-serif;
$main_color: #79cee2;
$icon_color: #f9a451;
$gray: #adb6bd;
$btn_weight: bold;
$shadow: 0px 0px 10px $gray;
a {
  cursor: pointer;
}
.btn {
  background: #fff;
  border: 2px solid $main_color;
  transition: 0.5s;
}
a.btn {
  color: $main_color;
  font-weight: bold;
}
a.btn:hover {
  color: #fff;
}
.btn:hover {
  background: $main_color;
  border: none;
}
.icon {
  font-size: 20px;
  color: $icon_color;
  margin: 0 5px;
}
h3 {
  font-family: $font-family;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 20px 0;
}
h5 {
  font-family: $font-family;
  letter-spacing: 3px;
}
h6 {
  font-weight: bold;
}
p {
  letter-spacing: 1px;
  font-family: $font-family;
  line-height: 28px;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category_title {
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
}
// .carousell_wrapper {
//   margin: auto;
//   .carousell {
//     width: 940px;

//     img {
//       width: 100%;
//     }
//   }
// }
// .carousell_control_left,
// .carousell_control_right {
//   margin: auto 0;
//   font-size: 40px;
//   color: #212529;
// }
// .carousell_control_left:hover,
// .carousell_control_right:hover {
//   color: $icon_color;
// }
.category {
  visibility: hidden;
  padding: 30px 0;
  height: 100px;

  .btn {
    margin-left: 10px;
    border-radius: 25px;
    width: 90px;
    height: 40px;
  }
}
.mobile_input {
  display: none;
}
.news_introduction {
  margin-bottom: 50px;

  .intro_img {
    background-color: #000000;
    overflow: hidden;
  }
  img {
    transition: 0.5s;
  }
}
.news_introduction:hover img {
  opacity: 0.8;
  transform: scale(1.1);
  overflow: hidden;
}
.news_index_title {
  h5 {
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: $shadow;
}
.news_index_detail {
  padding-top: 40px;
  .btn {
    width: 100px;
    height: 40px;
  }
}
.news_index_detail_icon_group {
  font-size: 10px;
  font-weight: bold;
  width: 300px;
  a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;
  }
  a:hover {
    color: $icon_color;
  }
}
.time_group {
  p {
    line-height: 20px;
  }
}
a.btn {
  color: $main_color;
}
.news_index_detail {
  a.btn {
    font-size: 14px;
  }
}
.news_search {
  border: 1.5px solid $main_color;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: center;
  position: absolute;
  font-size: 18px;
}
.input-icons,
.mobile_input {
  width: 100%;
  margin-bottom: 10px;
}
.icon_s {
  font-size: 40px;

  left: 20px;
  top: 8px;
  z-index: 1;
  color: $main_color;
}
.latest_news {
  margin: 80px 0 50px 0;
  padding: 0 20px;
  box-shadow: $shadow;

  h6 {
    line-height: 25px;
    width: 275px;
  }

  .latest_news_img {
    width: 120px;
    height: 70px;
  }
  .latest_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  a {
    text-decoration: none;
    color: #212529;
  }
  a:hover {
    color: $icon_color;
  }
}
.category_section {
  height: 300px;

  padding: 0 20px;
  box-shadow: $shadow;
  h3 {
    padding: 20px 0;
    color: #333;
  }
  .news,
  .sales {
    border-bottom: 1px solid $gray;
    a {
      text-decoration: none;

      padding: 15px;
      color: #000000;
      transition: 0.5s;
    }
    a:hover {
      color: $icon_color;
    }
  }
}
.pagination {
  ul {
    margin: 20px auto;
  }
  a {
    text-decoration: none;
  }
  li {
    width: 50px;
    height: 50px;
    border: 1.5px solid $main_color;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    color: $main_color;
    margin-right: 15px;
    font-weight: bold;
    transition: 0.5s;
  }
  li:hover {
    background: $main_color;
    border: none;
    color: #fff;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .category {
    visibility: visible;
  }
  .mobile_input {
    display: block;
  }
  .input_icons {
    display: none;
  }
  .category_section {
    display: none;
  }
}
