//變數置換
$navinfo: #79cee2;
$navbar-dark-color: $navinfo;

$navhover: #005caf;
$navbar-dark-hover-color: $navhover;

@import '~bootstrap/scss/bootstrap.scss';
@import './css/headerfooter.css';

* {
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans TC', sans-serif;
}

code {
  // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //   monospace;
  font-family: 'Noto Sans TC', sans-serif;
}

article.content {
  min-height: calc(100vh - 430px);
}
